<!-- matches found -->
<div class="text-center mb-3">
  <h2 class="text-dark">You matches {{ pagination?.totalItems }} found</h2>
</div>
<!-- filter form -->
<div class="row align-content-between" *ngIf="userParams">
  <form
    #form="ngForm"
    class="mb-2 d-lg-flex rounded-3"
    (ngSubmit)="loadMembers()"
    autocomplete="off"
  >
    <!-- filter  -->
    <div class="d-flex m-2">
      <!-- age start -->
      <div class="d-flex">
        <label class="col-form-label">Age from: </label>
        <input
          type="number"
          style="width: 60px"
          class="form-control ms-1 me-2"
          name="minAge"
          [(ngModel)]="userParams.minAge"
        />
      </div>
      <!-- age end -->
      <div class="d-flex">
        <label class="col-form-label">Age to: </label>
        <input
          type="number"
          style="width: 60px"
          class="form-control ms-1 me-2"
          name="maxAge"
          [(ngModel)]="userParams.maxAge"
        />
      </div>
      <!-- gender -->
      <div class="d-flex">
        <label class="col-form-label">Show: </label>
        <select
          style="min-width: 100px"
          class="form-select ms-1 me-2"
          name="gender"
          [(ngModel)]="userParams.gender"
        >
          <option *ngFor="let gender of genderList" [value]="gender.value">
            {{ gender.display }}
          </option>
        </select>
      </div>
    </div>

    <!-- filter buttons -->
    <div class="col d-flex m-2">
      <button class="btn btn-dark" type="submit">Apply Filters</button>
      <button
        class="btn btn-outline-dark ms-1"
        type="submit"
        (click)="resetFilters()"
      >
        Reset Filters
      </button>
    </div>

    <!-- sorting buttons -->
    <div class="col d-flex m-2">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-dark"
          name="orderBy"
          [(ngModel)]="userParams.orderBy"
          btnRadio="lastActive"
          (click)="loadMembers()"
        >
          Last Active
        </button>
        <button
          type="button"
          class="btn btn-dark"
          name="orderBy"
          [(ngModel)]="userParams.orderBy"
          btnRadio="created"
          (click)="loadMembers()"
        >
          Newest Members
        </button>
      </div>
    </div>
  </form>
</div>

<!-- member card component -->
<div class="row">
  <div
    class="col-3 col-lg-2 align-content-center"
    *ngFor="let member of members"
  >
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>
<!-- pagination component -->
<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="10"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
